<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <script src="{{url_for('static', filename='jquery.min.js')}}"></script>

  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.cs')}}s">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-theme.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-datetimepicker.min.css')}}">
  <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='moment-with-locales.min.js')}}"></script>
  <script src="{{url_for('static', filename='bootstrap-datetimepicker.min.js')}}"></script>
  <script>
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover();
    });
  </script>
  <link href="{{url_for('static', filename='base.css')}}" rel="stylesheet">
  {% block extra_head %}{% endblock %}
</head>
<body>
  <div class="container">
     <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
           <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Triangulator</a>
           </div>
           <div id="navbar" class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                 <!--<li class="active"><a href="/">Home</a></li>-->
                 {% if user.call: %}
                 <li><a href="/user/{{user.id}}/searches">My searches</a></li>
                 <li><a href="/user/{{user.id}}/measurements">My measurements</a></li>
                 {% endif %}
                 {% if user.call == 'admin': %}
                 <li><a href="/admin/users">Users</a></li>
                 {% endif %}
                 <li><a href="#" title="About" data-toggle="popover" data-placement="bottom" data-content="Create a search per station that you are looking for, then let people submit measurements for this search. By looking that the map, you should be able to have a global idea of where the station is located.">About</a></li>
                 <li><a href="#" title="Contact" data-toggle="popover" data-placement="bottom" data-content="ph7wim@ph7wim.com">Contact</a></li>
              </ul>
              <div class="dropdown navbar-right">
                 <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {% if user: %}
                        {{user.call}}
                    {% else: %}
                        Not logged in
                    {% endif %}
                    <span class="caret"></span>
                 </button>
                 <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% if user: %}
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                    {% else: %}
                    <li><a href="{{url_for('register')}}">Register</a></li>
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    {% endif %}
                 </ul>
              </div>
           </div><!--/.nav-collapse -->
        </div>
      </nav>
    <div style="position: relative" class="jumbotron">
      <br />
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>
