{% extends "base.html" %}
{% block title %}Triangulator{% endblock %}
{% block extra_head %}<script src="{{url_for('static', filename='compass.js')}}"></script>{% endblock %}
{% block content %}

{% if searches %}
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownSearches" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Current searches
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownSearches">
    {% for search in searches: %}
      <li><a href="/?search={{search['id']}}">{{search['frequency']}}MHz: {{search['description']}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endif %}

{% if search: %}
  <ul><li>Search on {{search['frequency']}} MHz. {{search['description']}}</li></ul>
{% endif %}

<div id="buttons" style="position: relative;">
  <div id="new_search"> <!-- style="position:absolute; right:0;"> -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#searchModal">
      Create new search
    </button>

    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="searchModalLabel">Create new search</h4>
          </div>
          <form role="form" action="/searches" method="post">
            <div class="modal-body">
              <label for="frequency">Frequency:</label>
              <input name="frequency" type="text" class="form-control" id="frequency" placeholder="144.975" required>
              <label for="description">Description:</label>
              <input name="description" type="text" class="form-control" id="description" required>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% if search: %}
  <div id="new_measurement">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#measurementModal">
      Submit new measurement
    </button>

    <div class="modal fade" id="measurementModal" tabindex="-1" role="dialog" aria-labelledby="measurementModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="measurementModalLabel">Submit measurement</h4>
          </div>
          <form role="form" action="/searches/{{search['id']}}" method="post">
            <input type="hidden" name="search" value="{{search['id']}}">
            <div class="modal-body">
              <label for="heading">Heading:</label>
              <div class="btn-group" role="group" aria-label="Heading">
                <script language="JavaScript">
                  function headingGPS() {
                    $("#heading_gps").attr('class', "btn btn-primary")
                    $("#heading").attr("placeholder","Loading...");
                    if (navigator.geolocation) {
                      navigator.geolocation.getCurrentPosition(showHeading);
                    };
                    function showHeading(position) {
                      console.log(position);
                      if (position.coords.heading) {
                        $("#heading").val(position.coords.heading);
                        $("#heading").attr("placeholder","0-360");
                      } else {
                        $("#heading").attr('placeholder', 'GPS heading not available');
                        $("#heading_gps").attr('class', "btn btn-default")

                      }
                    }
                    return true;
                  }
                  compassOn = false;

                  function compassListener(event) {
                    console.log('listener called:');
                    console.log(event);
                    var heading = null;
                    if(event.absolute === true && event.alpha !== null) {
                      heading = compassHeading(event.alpha, event.beta, event.gamma);
                      $("#heading").val(heading);
                    } else {
                      headingCompass()
                      $("#heading").attr('placeholder', 'Compass not available');
                    }
                  }

                  function headingCompass() {
                    if (compassOn) {
                      window.removeEventListener('deviceorientation', compassListener, false);
                      compassOn = false;
                      $("#heading_compass").attr('class', "btn btn-default")
                      $("#heading").attr("placeholder", "0-360");
                    } else {
                      $("#heading").attr("placeholder", "Loading...");
                      window.addEventListener('deviceorientation', compassListener, false);
                      compassOn = true;
                      $("#heading_compass").attr('class', "btn btn-primary")
                    }
                  }
                </script>

                <button type="button" id="heading_gps" class="btn btn-default" onclick="headingGPS()">GPS</button>
                <button type="button" id="heading_compass" class="btn btn-default" onclick="headingCompass()">Compass</button>
              </div>
              <input name="heading" type="text" class="form-control" id="heading" placeholder="0-360" required>
              <label for="strength">Signal strength:</label>
              <input name="strength" type="text" class="form-control" id="strength" placeholder="1-9" required>
              <hr />
              <label>Location:</label>
              <div class="btn-group" role="group" aria-label="Location">
                <script language="JavaScript">
                  function locationGPS() {
                    $("#location_gps").attr('class', "btn btn-primary")
                    $("#longitude").attr("placeholder","Loading...");
                    $("#latitude").attr("placeholder","Loading...");
                    if (navigator.geolocation) {
                      navigator.geolocation.getCurrentPosition(showPosition);
                    };
                    function showPosition(position) {
                      // console.log(position);
                      $("#longitude").val(position.coords.longitude);
                      $("#latitude").val(position.coords.latitude);
                    $("#longitude").attr("placeholder","Longitude");
                    $("#latitude").attr("placeholder","Latitude");
                      $("#location_gps").attr('class', "btn btn-default")
                    }
                    return true;
                  }
                </script>
                <button type="button" id="location_gps" class="btn btn-default" onclick="locationGPS()">GPS</button>
              </div><br />
              <!--<label for="longitude">Longitude:</label>-->
              <input name="longitude" type="text" class="form-control" id="longitude" placeholder="Longitude" required>
              <!--<label for="latitude">Latitude:</label>-->
              <input name="latitude" type="text" class="form-control" id="latitude" placeholder="Latitude" required>
              <hr />
              <div class="container">
                <div class="row">
                    <div class="form-group">
                            <label for="timestamp">Date / time:</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input name="timestamp" type="text" class="form-control" value="{{datetime}}" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker1').datetimepicker({
                            sideBySide: true,
                            format: 'YYYY-MM-DD HH:mm',
                            });
                        });
                    </script>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script language="JavaScript">
      $('#measurementModal').on('shown.bs.modal', function () {
        $('#measurementInput').focus()
      })
    </script>
  </div>
{% endif %}
</div>

{% if search %}
  {% if search['measurements'] %}
    <div id="map-canvas" style="width: 100%; height: 400px; margin: 0px; padding: 0px;"></div>
    <script language="JavaScript" src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script language="JavaScript">
    var map;
    function initialize() {
        var mapOptions = {
            zoom: 8,
            center: new google.maps.LatLng({{average_latitude}},{{average_longitude}})
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
        var infowindow = new google.maps.InfoWindow();

    {% for measurement in search['measurements']: %}

        var lineCoordinates_{{measurement['id']}} = [];
        lineCoordinates_{{measurement['id']}}.push(new google.maps.LatLng({{measurement['latitude']}}, {{measurement['longitude']}}));
        lineCoordinates_{{measurement['id']}}.push(new google.maps.LatLng({{measurement['endpoint_latitude']}}, {{measurement['endpoint_longitude']}}));

        var infowindow_{{measurement['id']}} = new google.maps.InfoWindow({
            content: '{{measurement['user']['call']}}'
        });

        marker_{{measurement['id']}} = new google.maps.Marker({
            position: new google.maps.LatLng({{measurement['latitude']}}, {{measurement['longitude']}}),
            title: '{{measurement['user']['call']}}',
            map: map,
        });
        marker_{{measurement['id']}}.addListener('click', function() {
            infowindow_{{measurement['id']}}.open(map, marker_{{measurement['id']}});
        });

        var tripPath = new google.maps.Polyline({
            path: lineCoordinates_{{measurement['id']}},
            geodesic: true,
            strokeColor: '#000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });

        tripPath.setMap(map);
    {% endfor %}
    }
    initialize();
    </script>
  {% endif %}
{% endif %}

{% endblock %}
